body{
  margin: 10px;
  height:1440px;
  width: 1450px;
}
header{
  height:144px;
  width: inherit;
  background-color: black;

}
header img{
  height: 75%;
  width: 75%;
  margin: 0 auto;
}

#buttons{
  height:20px;
  width:inherit;
  margin:0 25%;
}

button{
  background-color: black;
  border-right:1px;
  border-color:black;
  border-left: 1px;
  border-color: black;
  color:gray;
}

#firstpicture{
  height: auto;
  width: inherit;
  background-color:green;
  border: 20px solid green;
  margin:0 auto;
}
#firstpicture img{
  width: inherit;
  height: auto;
}

#paragraph{
  height:auto;
  width:inherit;
  margin:5% auto;
}

#paragraph p{
  text-align: center;
  margin:0 25%;
  font-size:20px;
  font-family: helvetica,serif;
}

#boldwords{
  height:auto;
  width:inherit;
  margin:3% auto;
}

#boldwords p{
  text-align: center;
  font-size: 40px;
  font-family: helvetica,serif;
}

article{
  height: 500px;
  width: 1000px;
}
#fakebutton1{
  height:150px;
  width:25%;
  float: left;
  background-color: green;
  margin:0 25%;
}

#fakebutton1 p{
  font-size: 20px;
  font-family: helvetica, serif;
  color:#fff;
}

#fakebutton2{
  height:150px;
  width:25%;
  background-color: green;
  margin:0 75%;
}

#fakebutton2 p{
  font-size: 20px;
  font-family: helvetica, serif;
  color:#fff;
}

footer{
  background-color: black;
  height:500px;
  width: inherit;
}

footer p{
  color: #fff;
  font-family: helvetica, serif;
  font-size: 20px;
  text-align: left;
}
